@import "bootstrap/scss/bootstrap";
@import "@angular/material/prebuilt-themes/indigo-pink.css";

.custom-snackbar {
    background-color: #d32f2f !important; /* Red background */
    color: white !important;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }